## VISUAL STUDIO DERIVED FILES
envelope/dev/envelope.sdf
envelope/dev/envelope.VC.opendb
envelope/dev/.vs/envelope/v14/.suo
envelope/dev/int/*
envelope/Debug-envelope.exe
envelope/Debug-envelope.ilk
envelope/Debug-envelope.pdb
envelope/Debug-envelope32.exe
envelope/Debug-envelope32.ilk
envelope/Debug-envelope32.pdb
envelope/envelope.exe
envelope/envelope.iobj
envelope/envelope.ipdb
envelope/envelope.pdb
envelope/envelope32.exe
envelope/envelope32.iobj
envelope/envelope32.ipdb
envelope/envelope32.pdb
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
envelope/Debug
